.all-pokemon-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-around;
    margin-top: 1.5rem;
}

/* css for pagination  */

.button-wrapper {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 3rem;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0897B4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
}
  
.button:hover {background-color: #0897B4}

.button:active {
    background-color: #0897B4;
    box-shadow: 0 4px #666;
    transform: translateY(3px);
}